#Name{
    background-color: rgb(7, 151, 127);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    margin-left: 75px;
}
.container h1{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: gray;
    font-weight: 900;
    color: rgb(7, 151, 127);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container img{
    background-color: gray;
    width: 150px;
    height: 150px;
    /* margin: 0px; */
    /* position: relative; */
    /* float: left; */
}

/* .container .row .col-md-12 .wrapText {
    float: left;
} */
p {
    text-align: left;
    [position: relative;]
}

#center-text {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-width: 5px;
    border-top-style: solid;
    border-color: rgb(7, 151, 127);
    height: 50px;
    background-color: grey;
    text-align: center;   
}
footer p{
    color: rgb(110, 106, 106);
    text-align: center;    
}